# Linear Regression

    X-y split (y is the target variable, in this case, "total claim amount")
    Train-test split.
    Standardize the data (after the data split!).
    Apply linear regression.
    Model Interpretation.

In [7]:
import seaborn as sns
import pandas as pd 
url = 'https://raw.githubusercontent.com/repicao/IH_AB_DA_FT_OCT_2023/main/Class_Materials/Case_Studies/Customer_Analysis_Case_Study/Data/Data_Marketing_Customer_Analysis_Round3.csv'
df = pd.read_csv(url)
df = df.dropna()
df

,region,customer_lifetime_value,response,coverage,education,effective_to_date,month,employment_status,gender,income,...,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size
0,central,4809,no,basic,college,2/18/11,feb,employed,m,48029,...,52,0,9,corporate auto,corporate l3,offer3,agent,292,four-door car,medsize
1,west region,2228,no,basic,college,1/18/11,jan,unemployed,f,92260,...,26,0,1,personal auto,personal l3,offer4,call center,744,four-door car,medsize
2,east,14947,no,basic,bachelor,2/10/11,feb,employed,m,22139,...,31,0,2,personal auto,personal l3,offer3,call center,480,suv,medsize
3,north west,22332,yes,extended,college,1/11/11,jan,employed,m,49078,...,3,0,2,corporate auto,corporate l3,offer2,branch,484,four-door car,medsize
4,north west,9025,no,premium,bachelor,1/17/11,jan,medical leave,f,23675,...,31,0,7,personal auto,personal l2,offer1,branch,707,four-door car,medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10684,central,15563,no,premium,bachelor,1/19/11,jan,unemployed,f,61541,...,40,0,7,personal auto,personal l1,offer3,web,1214,luxury car,medsize
10685,north west,5259,no,basic,college,1/6/11,jan,employed,f,61146,...,68,0,6,personal auto,personal l3,offer2,branch,273,four-door car,medsize
10686,central,23893,no,extended,bachelor,2/6/11,feb,employed,f,39837,...,63,0,2,corporate auto,corporate l3,offer1,web,381,luxury suv,medsize
10687,west region,11971,no,premium,college,2/13/11,feb,employed,f,64195,...,27,4,6,personal auto,personal l1,offer1,branch,618,suv,medsize
10688,central,6857,no,basic,bachelor,1/8/11,jan,unemployed,m,68942,...,1,0,3,personal auto,personal l1,offer4,web,1021,suv,medsize

## x-y split

In [18]:
X = df[['customer_lifetime_value','income','months_since_last_claim',
        'months_since_policy_inception','number_of_policies',
             'number_of_open_complaints']] #all the rest of the numerical columns
y = df[['total_claim_amount']]

## Train-test split

In [19]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.25, random_state = 100)

In [20]:
y

       total_claim_amount
0                     292
1                     744
2                     480
3                     484
4                     707
...                   ...
10684                1214
10685                 273
10686                 381
10687                 618
10688                1021

[10689 rows x 1 columns]

In [21]:
X

,customer_lifetime_value,income,months_since_last_claim,months_since_policy_inception,number_of_policies,number_of_open_complaints
0,4809,48029,7,52,9,0
1,2228,92260,3,26,1,0
2,14947,22139,34,31,2,0
3,22332,49078,10,3,2,0
4,9025,23675,33,31,7,0
...,...,...,...,...,...,...
10684,15563,61541,12,40,7,0
10685,5259,61146,7,68,6,0
10686,23893,39837,11,63,2,0
10687,11971,64195,0,27,6,4
10688,6857,68942,31,1,3,0

## Standardize the data (after the data split!).

In [22]:
from sklearn.preprocessing import StandardScaler

In [23]:
scaler = StandardScaler()

#fit and scale


X_train_scaled = scaler.fit_transform(X_train)
X_train_scaled = pd.DataFrame(X_train_scaled, columns=X_train.columns)
X_train_scaled



#scaler.fit(X_train)
#scaler.trasnsform(X_test)

,customer_lifetime_value,income,months_since_last_claim,months_since_policy_inception,number_of_policies,number_of_open_complaints
0,0.208233,-1.080264,0.775438,0.133066,0.006997,-0.425585
1,-0.039727,-1.140466,0.281327,1.029148,0.006997,1.753584
2,-0.033399,-1.145338,-1.398648,0.276439,-0.408472,0.664000
3,0.111005,0.971172,0.874260,1.423424,0.006997,0.664000
4,-0.006071,0.721306,-1.299826,0.312283,0.006997,-0.425585
...,...,...,...,...,...,...
8011,-0.800005,-0.170358,-1.299826,0.097223,-0.823941,-0.425585
8012,0.183207,0.959897,-0.410427,-0.153680,0.006997,-0.425585
8013,-0.157235,-1.461687,1.269548,-1.228978,-0.408472,-0.425585
8014,0.097773,1.487817,-1.398648,0.061380,0.006997,-0.425585
8015,-0.552620,1.045588,1.961302,0.957462,1.668873,0.664000

In [24]:
#we only scale the X_test, we dont fit them! 

X_test_scaled = scaler.transform(X_test)
X_test_scaled = pd.DataFrame(X_test_scaled,columns = X_test.columns)
X_test_scaled

,customer_lifetime_value,income,months_since_last_claim,months_since_policy_inception,number_of_policies,number_of_open_complaints
0,-0.769226,0.318581,0.874260,-1.300665,-0.823941,-0.425585
1,0.372485,1.559414,0.281327,-0.727172,0.006997,3.932754
2,0.175584,1.608380,-0.410427,1.351738,0.006997,-0.425585
3,0.194138,-0.746962,0.775438,-0.619642,-0.408472,-0.425585
4,0.290216,-1.451741,-0.805715,-1.515724,1.668873,-0.425585
...,...,...,...,...,...,...
2668,-0.021173,-0.955432,-0.509249,0.527342,-0.408472,-0.425585
2669,-0.533347,0.335293,-0.608071,-1.085605,-0.823941,-0.425585
2670,-0.626979,0.348541,0.083683,0.061380,-0.823941,-0.425585
2671,-0.296174,0.223266,0.083683,0.276439,0.006997,-0.425585
2672,-0.432379,-0.862291,-1.102181,-0.189523,1.668873,-0.425585

#fit the y_train
y_fitted = scaler.fit(y_train)

#scale 
y_train_scaled = scaler.fit_transform(y_train)

y_train_scaled = pd.DataFrame(y_train_scaled,columns = y_train.columns)
y_train_scaled

## create new model

In [25]:
from sklearn.linear_model import LinearRegression

In [26]:
lm = LinearRegression()

In [27]:
model = lm.fit(X_train_scaled, y_train)

In [28]:
model.coef_

array([[ 6.93290946e+01, -3.17413435e+01,  6.06454252e+00,
         3.10087675e-02, -2.21192629e-01, -3.29381389e+00]])

In [29]:
model.intercept_

array([435.10092315])

## Predict

## create the y_pred

In [30]:
y_pred = model.predict(X_test_scaled)

In [31]:
y_test.shape

(2673, 1)

In [32]:
np.array(y_test)

array([[320],
       [459],
       [ 22],
       ...,
       [213],
       [547],
       [307]])

## real_vs_pred

In [33]:
real_vs_pred = pd.DataFrame({'y_test': y_test["total_claim_amount"], 'y_pred':y_pred[:,0]})

In [34]:
real_vs_pred

       y_test      y_pred
9700      320  378.504697
4662      459  400.155374
1401       22  395.174972
6313      111  478.445533
8906     1000  497.400870
...       ...         ...
8832      453  462.379833
2498      513  385.344532
10126     213  382.663303
9257      547  409.397037
9130      307  426.837298

[2673 rows x 2 columns]

## Compute the MSE

In [35]:
from sklearn.metrics import mean_squared_error as mse

In [36]:
mse(real_vs_pred['y_test'], real_vs_pred['y_pred'])

78513.41983478927

In [37]:
import numpy as np 
np.sqrt(mse(real_vs_pred['y_test'], real_vs_pred['y_pred']))

280.2024622211398

In [41]:
import matplotlib.pyplot as plt

In [42]:
y_test

       total_claim_amount
9700                  320
4662                  459
1401                   22
6313                  111
8906                 1000
...                   ...
8832                  453
2498                  513
10126                 213
9257                  547
9130                  307

[2673 rows x 1 columns]

## Linear Regression using statsmodels

In [39]:
import statsmodels.api as sm

In [43]:
X_train_const = sm.add_constant(X_train.to_numpy())

model = sm.OLS(y_train, X_train_const).fit()
predictions_train = model.predict(X_train_const)

X_test_const = sm.add_constant(X_test)
y_pred = model.predict(X_test_const)
print_model = model.summary()
print_model

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:     total_claim_amount   R-squared:                       0.069
Model:                            OLS   Adj. R-squared:                  0.068
Method:                 Least Squares   F-statistic:                     98.40
Date:                Wed, 08 Nov 2023   Prob (F-statistic):          7.53e-120
Time:                        15:06:31   Log-Likelihood:                -56640.
No. Observations:                8016   AIC:                         1.133e+05
Df Residuals:                    8009   BIC:                         1.133e+05
Df Model:                           6
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const        414.1437     11.814     35.054      0.000     390.984     437.303
x1             0.0100      0.000     21.873      0.000       0.009       0.011
x2            -0.0013      0.000    -10.015      0.000      -0.002      -0.001
x3             0.5993      0.313      1.913      0.056      -0.015       1.213
x4             0.0011      0.114      0.010      0.992      -0.222       0.224
x5            -0.0919      1.316     -0.070      0.944      -2.672       2.488
x6            -3.5889      3.454     -1.039      0.299     -10.359       3.181
==============================================================================
Omnibus:                     2811.975   Durbin-Watson:                   2.018
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            14523.025
Skew:                           1.610   Prob(JB):                         0.00
Kurtosis:                       8.755   Cond. No.                     2.17e+05
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.17e+05. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [ ]:
model = ms.OLS(y_train)